/* =====================
PROJECT PAGE
===================== */


.project-page{

    width:100%;

    margin:0 auto;

    padding-top:120px;

    padding-bottom:160px;

}




.project-page img{

    display:block;

    width:100%;

    height:auto;

}






/* =====================
INTRO
===================== */


.project-intro{

    text-align:center;

}



.project-intro h1{

    font-size:32px;

    font-weight:400;

    margin-bottom:18px;

}



.project-subtitle{

    font-size:16px;

    font-weight:300;

    color:#555;

}



.project-date{

    font-size:13px;

    color:#999;

    margin-top:10px;

    margin-bottom:80px;

}




/* HERO */

.hero-image{

    width:85% !important;

    max-width:1400px;

    margin:auto;

}







/* =====================
SECTION
===================== */


.project-section{


    width:75%;

    max-width:1200px;

    margin:180px auto 0;

    text-align:center;


}




.project-section h2{


    font-size:28px;

    font-weight:400;

    margin-bottom:35px;


}




.project-section p{


    max-width:560px;


    margin:0 auto 80px;


    font-size:15px;


    line-height:2;


    color:#444;


}







/* =====================
IMAGE GRID
===================== */



.image-grid{


    display:grid;

    gap:30px;


}





.image-grid.three{


    grid-template-columns:repeat(3,1fr);


}




.image-grid.two{


    grid-template-columns:repeat(2,1fr);


}




.image-grid img{


    width:100%;


}






/* INTERIOR LARGE IMAGE */


.large-image{


    width:90% !important;

    margin:auto;


}







/* VR */

.image-column{


    display:flex;

    flex-direction:column;

    gap:100px;


}





.image-column img{


    width:85%;

    margin:auto;


}







/* SOURCE */


.source{


    margin-top:25px!important;


    font-size:12px!important;


    color:#999!important;


}








/* FOOTER */


.project-footer{


    text-align:center;

    margin-top:220px;


    font-size:16px;


    line-height:2;


    color:#777;


}







@media(max-width:900px){


.project-section{

    width:90%;

}


.image-grid.three,
.image-grid.two{

    grid-template-columns:1fr;

}


.hero-image{

    width:95%!important;

}



}
